<!DOCTYPE html>
<html>
<head>
    <script src="/main.js"></script>
</head>
<body>
    <h1>Cookie response from js: <span id="from-js"></span></h1>
    <h1>Cookie response from worker: <span id="from-worker"></span></h1>
</body>
</html>